[2018-06-05 01:18] rshipp opened #1 "Evaluate and merge YaraGuardian changes"
https://github.com/PUNCH-Cyber/YaraGuardian/commits/4c2e2d8a8c5cf0380b8d96207d5be0ffd7b98ede/plyara/plyara/plyara.py

Some of these are improvements not included in the current codebase. We should import what we can.

[2018-06-05 19:42] rshipp opened #3 "Off-by-one error in raw_conditions"
The last character in conditions isn't included in raw_conditions.

[2018-06-05 20:06] rshipp opened #4 "Add more tests"
Include enough unit tests that everything is reasonably well tested. It's hard to tell coverage of the ply grammar, but covering at least some standard cases and verifying output is as expected would be beneficial.

[2018-06-05 20:07] rshipp opened #5 "Add to documentation"
* [x] Include at least some sample input/output, and some basic example code.
* [x] Add a changelog and migration guide somewhere, to ease transitions for anyone who was using the old version.
* [x] Modify the alabaster settings too, with at least a link to the github repo.

[2018-06-05 20:26] rshipp opened #6 "Consider using conditional lexing"
As per the comment here: https://github.com/plyara/plyara/pull/2#issuecomment-394844704. Link with more information here: http://www.dabeaz.com/ply/ply.html#ply_nn21.

This may give us some improvements with a small maintainability tradeoff. If anyone has any opinion feel free to comment. Otherwise I'll look into this as time allows.

[2018-06-05 20:28] #1 closed

[2018-06-12 16:41] rshipp opened #8 "Imports have extra quotes"
In the output object, imports have quotes included. Not sure this is expected or desired behavior. Probably want to get rid of the quotes.

[code]

[2018-06-14 17:57] rshipp commented on #8
Closed by #8.

[2018-06-14 17:57] #8 closed

[2018-06-14 21:01] Taskr commented on #6
The primary use case that I have had for conditional lexing is parsing byte strings. By entering an exclusive lexing state, I can use more simple regexes to parse out the byte string. I can also catch errors that would otherwise be accepted with a large regex.

**Example:** the byte jump section in the original byte string [regex](https://github.com/plyara/plyara/blob/master/plyara.py#L711) will a

[2018-06-21 18:39] #3 closed

[2018-06-21 19:09] rshipp commented on #6
Tagging @plyara/all for any input. If no one opposes this, I'll merge these changes (https://github.com/PUNCH-Cyber/YaraGuardian/commit/fe8641aaa8490fd9a316c2dce69e5270a6d9470f, https://github.com/PUNCH-Cyber/YaraGuardian/commit/ffdf04f080df5fe9436f8f68546a4932860c8cec) with our slightly updated bytestring regex and put that in master along with some extra test cases.

[2018-07-05 19:16] #6 closed

[2018-07-05 19:20] rshipp commented on #6
@Taskr merged in eb6cbff. Feel free to review the changes.

[2018-07-05 19:36] Taskr commented on #6
Looks great! Thanks @rshipp

[2018-07-05 20:56] rshipp commented on #4
Added some baseline tests for string, rexstring, and bytestring, and a couple basic static method tests. Closing this out. Will continue to add new tests as I come across things that need them.

[2018-07-05 20:56] #4 closed

[2018-07-05 21:39] rshipp commented on #5
Closing. Feel free to update docs as needed. Should probably add something for the new static methods at some point.

[2018-07-05 21:39] #5 closed

[2018-07-10 12:00] Kylearan opened #10 "A string with no rule throws an AttributeError"
A string which consists only of imports and/or comments but no rule definitions (which is not uncommon for large collections organized in multiple files) throws ```AttributeError: 'NoneType' object has no attribute 'type'```.

[2018-07-10 12:03] Kylearan opened #11 "Comments in a BYTESTRING line throw a TypeError"
If a BYTESTRING contains a comment, a ```TypeError: Illegal bytestring character``` is thrown.
Example rule that causes this:
[code]

[2018-07-10 12:08] rshipp commented on #11
Thanks for reporting! This is supposed to be supported, I'll look into it.

[2018-07-10 12:09] rshipp commented on #10
Good catch, thanks for the issue.

[2018-07-10 15:33] #10 closed

[2018-07-10 15:33] #11 closed

[2018-07-10 15:39] rshipp commented on #11
I've pushed a new release that should fix this ([v1.2.1](https://github.com/plyara/plyara/releases/tag/v1.2.1)). Let me know if you have any more issues.

[2018-07-10 15:39] rshipp commented on #10
I've pushed a new release that should fix this ([v1.2.1](https://github.com/plyara/plyara/releases/tag/v1.2.1)). Let me know if you have any more issues.

[2018-07-25 04:24] utkonos opened #12 "Return Clean Python Types in Meta"
According to YARA spec, the meta section can contain strings, integers, and booleans. At the moment, playara returns everything as strings. Changing the type of an output is definitely a non-backwards compatible change, so we should add this to a 2.0.0 milestone.

Here are the details from the documentation: https://yara.readthedocs.io/en/v3.7.0/writingrules.html#metadata

[2018-07-25 13:27] Kylearan opened #13 "detect_dependencies() misses references in parantheses"
If a rule has a dependency in its condition section which is in parantheses, it will be missed by detect_dependencies().

Example:
[code]

detect_dependendies() will not detect that rule b references rule a. Remove the parantheses around a in b's condition section and it works.
Some open source yara repositories have rules with dependencies in parantheses.

[2018-07-25 14:57] rshipp commented on #12
Agreed. We should remove any other double quoted output at the same time. Currently input like this

    $a = "string"

Results in output like this

    'strings': [{'name': '$a', 'value': '"string"'}]}]

Where the value includes the quotes. Makes using this output harder as we have to manually strip the quotes off, handle escaped quotes (`$a = "string\""`), etc.

[2018-07-25 15:14] rshipp commented on #13
Interesting, I didn't know you could do this. I'll put together some test cases and see if I can get it working. Thanks for the issue!

[2018-07-25 17:46] utkonos commented on #12
Good idea. I don't remember if I had fixed that in my fork. I need to check. Either way, both are breaking changes, so we can put them in a 2.0. I adjusted the name of this enhancement so it encompases both changes. No need for a separate ticket.

[2018-07-26 08:24] Kylearan commented on #13
A real-world example would be the rule "MALW_TinyShell_backconnect_Gen"
here:

https://github.com/Yara-Rules/rules/blob/master/malware/MALW_TinyShell_Backdoor_gen.yar

Am 25.07.2018 um 17:14 schrieb Ryan Shipp:

[2018-07-27 15:20] utkonos opened #15 "Update PLY to SLY"
dabeaz has rewritten PLY from scratch and modernized everything. The new project is called SLY. It has not hit a stable release yet. However, we should prepare for its stable release and begin our rewrite and refactor soon. More information about SLY on the project page:

https://github.com/dabeaz/sly

[2018-07-27 17:10] rshipp commented on #15
This makes it unusable for me, at least for the time being. I'm not sold on the benefit of migrating just for the sake of it, especially if we lose Python 2 support in the process.

[2018-07-27 17:41] utkonos commented on #15
Dropping Python 2 support is a good thing in my opinion. I'm fine with waiting on this change, but there is a wall fast approaching that people need to get ready for. Perhaps we make this change a version 3.0 milestone. Version 1.x and 2.x would use PLY and keep maintenance releases until the death of Python 2. Also, I'm not recommending this for the sake of it. PLY may not be maintained after SLY

[2018-07-27 18:35] rshipp commented on #13
Just pushed a new release ([v1.2.2](https://github.com/plyara/plyara/releases/tag/v1.2.2)) with @Taskr's fix for this bug. Thanks again for reporting, and feel free to reopen this issue if you find an edge case my tests didn't cover.

[2018-07-27 18:35] #13 closed

[2018-08-24 16:39] tlansec opened #17 "rebuild_yara_rule method does not correctly quote metadata fields"
Hey,

In this part of the rebuild yara method there is no accounting for the data type present in the value of each metadata key which means resulting rules have metadata
[code]

A lazy fix for this would be to alter it so that we assume every value in the metadata is a string:

[code]

There might be a cleverer way of figuring it out though, since there are probably only 3 cases (int,str,list) th

[2018-08-24 17:51] rholloway commented on #17
Hi Tom. This is likely also related to #12 as the rebuilt rule comes from the parsed rule data. I'm not sure that is actually a blocker for this though. Will take a look.

[2018-08-27 18:59] rshipp commented on #17
This should be fixed in plyara v1.2.4 with @Taskr's changes (#18).

Thanks for the issue, and let us know if you find any more problems.

[2018-08-28 09:11] tlansec commented on #17
Hi,

Yep - this fixes it.

Thanks for the fast turn around!

Tom

[2018-08-28 09:47] tlansec commented on #17
Hey,

I found an edge case (possibly more than one) where the current fix will not correctly parse a rule, for example:

`rule test
{
meta:
    field = "1"
    field = "2"
condition:
    false

}`

Will fail on this check with a TypeError:

# Check for and handle correctly quoting string metadata
`for k, v in rule['metadata'].items():
    try:
        if v in ('true', 'false') or int(v):

[2018-08-28 16:04] rshipp commented on #17
Interesting... is a list what you'd expect these fields to be parsed as? This is what our dict looks like now:

        "metadata": {
            "field": [
                "1",
                "2"
            ]
        },

Which means if all we do is `v = '"{}"'.format(v)`, we'd end up with `rebuild` output like this:

    field = "[1, 2]"

At the least we'd need to handle splitting that back int

[2018-08-28 16:39] tlansec commented on #17
Hi,

Yea good point.

I have a large repository of rules from multiple contributors, some contributors have included a list of hashes in their rules, and define each hash in the metadata using:

hash = "$hash1"
hash = "$hash2"

That's how I came across this case.

I agree it makes more sense to split them back into each line as the original rule had them to stay in the spirit of rebuilding the ori

[2018-08-28 17:17] rshipp commented on #17
Got it. In that case, it sounds like using a list internally is OK, since it's meant to be a list of reference hashes.

@Taskr do you want to handle this piece? Or I can probably get to it sometime this week.

[2018-08-28 21:46] Taskr commented on #17
@rshipp @tlansec New pull should fix the issue. I completely blanked on the list of same metadata entries. Thanks for the input @tlansec. Also added to test case to verify working correctly. Minimal changes to just the rebuild rule method so it won't impact any other part :)

[2018-08-28 23:01] rshipp commented on #17
Pushed as v1.2.5, let us know if you find anything else!

[2018-08-28 23:01] #17 closed

[2018-09-25 23:04] rshipp opened #20 "Bug in regex string lexing"
Regex strings with no space before the modifier are valid in YARA, but cause Plyara to choke.

Example:

    $a = /rex/nocase

Need to fix the `t_REXSTRING` regex to handle this along with the existing cases of `/rex/ismx` and `/rex/ nocase`.

[2018-09-26 16:03] rshipp commented on #20
Closed by #21

[2018-09-26 16:03] #20 closed

[2018-10-15 17:37] jgrunzweig opened #22 "Meta quotes removed upon rebuilding rule"
Noticed this today while playing this this library. Upon parsing and rebuilding a rule, the double quotes are removed in values within the meta section.

Example code:
`import plyara
ply = plyara.Plyara()

rule = """rule garbageRule
{
	meta:
		author = "Josh Grunzweig"

	strings:
		$garbage = "hi world"

	condition:
		any of them
}"""
p = ply.parse_string(rule)
print(repr(p))
print(ply.rebuild_yar

[2018-10-15 17:40] jgrunzweig commented on #22
Pseudo false alarm. Functionality doesn't work on the pip install, but works correctly in master when building manually.

[2018-10-15 17:40] #22 closed

[2018-10-15 17:42] Neo23x0 opened #23 "Error parsing Regex strings in newest v1.2.6"
Up to now I was working with version 1.2.5, which worked fine.
The newest master produces errors with many of my regex YARA strings.

[code]

The parser fails on regular expression strings like this
[code]

I guess that this commit introduced the errors:
https://github.com/plyara/plyara/commit/0c4e814e139cac27c9cf0f7945b534c99c960c47

[2018-10-15 18:00] rshipp commented on #22
This is odd, master should be the same as the latest version in pip, 1.2.6. If it hasn't been overwritten by your local install, could you grab the version you were using? And what Python version are you running?

    pip freeze | grep plyara
    python -V

I can't reproduce that test failure on the latest 2 versions under Python 2.7.

[code]

[2018-10-15 18:04] Neo23x0 opened #24 "Error excluding comments in condition lines"
I noticed that a comment in a condition will be parsed as if it were part of the condition and appears in the `condition_terms`
[code]

[code]

[2018-10-15 18:13] jgrunzweig commented on #22
Checking my logs, I think I understand what happened. I installed it a couple of months back and was running 1.2.3, however, I forgot I had done this. When I did a pip install earlier today it simply said I had the requirements met (I didn't realize until just now) and carried on. I just did a quick check and 1.2.6 is in fact installing via pip. This was simply stupidity on my part.

So, tl;dr eve

[2018-10-15 18:38] rshipp commented on #22
Ah, makes sense. :) Thanks for looking into it.

[2018-10-15 18:39] Taskr commented on #23
Thanks for submitting the issue @Neo23x0. The logic in t_REXSTRING_end appears to be prematurely terminating the string. Working on a fix currently.

[2018-10-15 21:18] Taskr commented on #24
Thanks for submitting this issue @Neo23x0. I was able to reproduce this behavior in v1.2.5 but appears to no longer be an issue in v1.2.6. I went ahead and submitted a pull request for review in response to the Regex string issue you submitted earlier.

[2018-10-15 21:32] rshipp commented on #23
Pushed to PyPI as v1.2.7.

@Neo23x0 can you confirm this and #24 are fixed with v1.2.7?

[2018-10-16 06:55] Neo23x0 commented on #23
Persist - this time for curly brackets
[code]

[2018-10-16 07:01] Neo23x0 commented on #23
Cool - you version of `plyara` is on PyPI? I thought it was still https://github.com/8u1a/plyara
Ah, you got access in July this year! Great

[2018-10-16 13:35] Neo23x0 commented on #23
I guess i have the perfect test set - 9762 YARA hand crafted rules, written for YARA versions since v1.7, external variables and all kind of conditions.

![screenshot 2018-10-16 at 15 33 48](https://user-images.githubusercontent.com/2851492/47020105-e985fe00-d158-11e8-9b42-7913b3bf7680.png)

[2018-10-16 14:11] Taskr commented on #23
Awesome :) That is a very impressive test set! Hopefully this will fix the issue.

[2018-10-16 19:10] rshipp commented on #23
Pushed #26 as v1.2.8.

Thanks for the help Florian, always nice to have more test cases. :)

[2018-10-16 22:15] Neo23x0 commented on #23
Fixed in https://github.com/plyara/plyara/commit/0e1847dafee6a6108711e93e9e15ffec48c3eedb

[2018-10-16 22:15] #23 closed

[2018-10-16 22:16] #24 closed

[2018-11-21 13:34] sbruno opened #28 "Not getting last included file in parser.includes"
After parsing a file with only includes, I check the `parser.inlcudes` attribute and the last item is not there:

[code]

[2018-11-21 17:31] rshipp commented on #28
Thanks for the issue!

I'm guessing this is a problem with the grammar, but I don't understand it well enough to find the fix. This applies to both includes and imports, and only happens when there is no rule in the input. The parser is hitting `p_error` with a `p` of `None`.

Here's some debug output:

[code]

<details><summary>Referenced states 5 and 8</summary>

[code]
</details>

@plyara/all a

[2018-11-22 03:17] Taskr commented on #28
@rshipp Looks like an issue due to some ambiguous grammar specifications. Will take a look when I get chance.

[2018-11-26 19:35] rshipp commented on #28
Published v1.3.1 to PyPI, with @Taskr's fix for this issue.

@sbruno feel free to reopen or open a new issue if you find anything else!

[2018-11-26 19:35] #28 closed

[2019-01-04 16:35] ricardo-dias opened #30 "Nested bytestring groups throw a ParseTypeError"
Example:
[code]
Throws: plyara.ParseTypeError: Illegal bytestring character ( at line 4

[2019-01-05 14:56] Taskr commented on #30
submitted #31 to account for this. Should be reviewed in the near future. Thanks for submitting this @ricardo-dias.

[2019-01-07 18:02] rshipp commented on #30
Thanks for the issue! I've pushed @Taskr's fix to PyPI as v1.3.2. Feel free to let us know if you find anything else.

[2019-01-07 18:02] #30 closed

[2019-01-07 22:18] ricardo-dias commented on #30
It's working like a charm. Thanks!

[2019-01-07 22:19] ricardo-dias commented on #30
It's working like a charm. Thanks!

[2019-01-08 05:27] MrHigashi opened #32 "Support for match length operator "!""
Can we add support for the match length operator "!"?

Here is the reference in the yara docs https://yara.readthedocs.io/en/v3.8.1/writingrules.html#match-length

[2019-01-09 01:24] #32 closed, assigned to utkonos

[2019-01-09 15:11] rshipp commented on #32
Thanks for the issue! I've pushed @utkonos's fix to PyPI as v1.3.3. Feel free to let us know if you find anything else.

[2019-01-10 12:46] MrHigashi commented on #32
Will do and thanks. This has been very helpful

[2019-01-11 15:04] ricardo-dias opened #35 "ParseValueError's t.lexer.lineno ignores bytestring new lines"
The following rule:
[code]
Throws:
`Unknown text conditio for token of type ID on line 5`

Ideally it should consider the bytestring new line and return the exception at **line 6**.

Thanks in advance.
RD

[2019-01-11 16:43] rshipp commented on #35
Thanks for the issue, I can see how this would become a problem. I've opened a PR to fix, and will tag a release once someone has had a chance to review it.

[2019-01-11 22:57] #35 closed

[2019-01-12 15:19] ricardo-dias commented on #35
Thanks!

[2019-01-12 15:31] ricardo-dias opened #37 "Offset char @ throw a ParseTypeError"
Rule:
[code]
Throws:
[code]
Thanks in advance!
RD

[2019-01-13 05:50] utkonos commented on #15
SLY is not released as stable yet. I'll keep an eye on it, but I think this change should wait for SLY to be released as stable.

[2019-01-13 05:52] utkonos opened #39 "Import all test rules from YARA"
All the rules used by YARA for its unit tests should be imported to our test suite. A good first step is to parse them without an exception. We can get more granular on testing in the future.

https://github.com/VirusTotal/yara/blob/master/tests/test-rules.c

[2019-01-13 07:17] utkonos commented on #37
This PR fixes the issue. It's waiting on approval, but if you need to use plyara immediately you can use the PR branch here:

https://github.com/plyara/plyara/tree/issue37

[2019-01-13 08:32] #12 closed

[2019-01-13 09:12] #37 closed

[2019-01-13 13:28] hxnoyd opened #42 "rebuild_yara_rule does not return rule comments"
Hi. The method rebuild_yara_rule() seems to be striping off rule comments.
For example, the following rule:
[code]
Is correctly parsed (including comments):
[code]
But then rebuild_yara_rule() ignores comments:
[code]
Is this intentional? On the one hand this is not an issue if the rebuild rule is passed to yara for scanning. On the other hand, if you are rebuilding a rule for intel sharing, the r

[2019-01-14 04:53] utkonos commented on #42
This is intentional. The comments key in the dictionary representation of the rule that plyara returns is just a list of comments. It doesn't return positional information, so the data for where to put them is not available during the rebuild process.

Line numbers are available during the parsing process, so this is definitely a do-able enhancement. It would break the schema of the resulting data

[2019-01-14 04:53] utkonos commented on #42
Oops. Closed by accident.

[2019-01-14 04:55] utkonos opened #43 "Change python types from optional to standard."
The new python types returned by the optional flags should be the standard output rather than an option.

I suggest this change to be added to a feature list for 2.0.

[2019-01-14 16:50] rshipp commented on #42
It's definitely something I'd like to have, but I think putting the comments back would be difficult.

* Single line comments can be on a line by themselves, or at the end of a line.
* Multiline comments can be either of the above, or in the middle of a line, so we'd need to track character offsets in addition to the line number.
* Line number is affected by both whitespace, and the comments thems

[2019-01-14 20:10] utkonos commented on #42
I can work on how to do this well. I'll include this work in the version I'm working on now.

[2019-01-16 00:34] utkonos opened #46 "Double backslash parsing issue"
This issue is moved from the old project. The problem is:

[code]

That issue is: https://github.com/8u1a/plyara/issues/10

[2019-01-16 00:46] utkonos commented on #42
This feature is difficult as @rshipp said.

It may need the whole rebuild function being gutted and replaced with a templating engine like jinja2. This is the easier path, I think. But it will add a dependency to plyara. I would prefer coding it from scratch without a new dependency.

[2019-02-01 16:10] #39 closed

[2019-02-01 16:10] #43 closed

[2019-02-01 16:10] #46 closed

[2019-02-01 20:38] sbruno opened #49 "It should not be necessary to return a list as metadata for returning python types"
I see that most of my scripts are failing to retrieve the metadata keys from parsed yara files because now with v2 it is returning a list.

I think this changes comes from fixing #12

It makes sense to return python types instead of strings, but can't this just be done returning a dictionary as it was done previously?
It makes things much more complicated to locate values from metadata

How it was

[2019-02-01 20:53] rshipp commented on #49
Thanks for the issue!

This is an intended change in v2.0.0, which does break compatibility with prior versions. We had a similar discussion here: https://github.com/plyara/plyara/pull/45#issuecomment-454901579. The short version is that the old way makes it easier to access specific metadata attributes, but the new version makes it possible to retain order in metadata, which is important for rule

[2019-02-01 20:54] sbruno commented on #49
What about using a collections.OrderedDict to retain order

[2019-02-01 21:03] rshipp commented on #49
Seems reasonable to me. I just tried it out a little and it seems to work transparently with JSON loading/dumping too. @utkonos what do you think?

[2019-02-02 19:38] utkonos opened #50 "Single JSON Output Schema"
After making a release announcement on Twitter, the maintainers of YARA joined the conversation and mentioned that they're writing a Go implementation of the YARA parser that will provide JSON output as an option. Also, in the same thread, I learned that there is already a Go implementation here:
https://github.com/Northern-Lights/yara-parser

I've opened an issue on their repo for this same topic

[2019-02-03 00:03] sbruno commented on #49
OK got it. So I guess the problem is that I'm using plyara for only one of the uses it may have, which is affected by this change. But for other uses this is an improvement.

I'm using it to analyze sets of YARA rules and obtain statistics or group rules according to metadata values. With this change the scripts gets more complicated and inefficient since I need to iterate the metadata list, looki

[2019-02-03 02:59] rshipp commented on #49
Duplicating all the metadata seems a little strange, but we do already have conditions and raw_conditions, so there's some precedent. And increased usability is probably worth the cost tradeoff of adding a field, honestly. This sounds like something we should bring up as part of #50, too.

[2019-02-23 13:18] Neo23x0 opened #52 "Metadata structure in 2.0.0"
Is there a reason why you've decided to change the metadata structure from `dict` to a `list of dicts`?

Before:
[code]
Now:
[code]

Why not?
[code]

For me it makes it more difficult to handle metadata values. I cannot do things like that anymore:
[code]

[2019-02-23 18:38] utkonos commented on #52
@Neo23x0 Yes, we have a few reasons for that design decision. First, meta can have multiple identical key names. This does not generate an error in YARA. We were able to support this in the old format, but it made the rule rebuilding code difficult. To facilitate rule rebuilding, the meta section uses the same format as the strings did before.

We have had other users ask for the old format, so I'

[2019-02-23 19:37] utkonos commented on #52
Duplicate of #49

[2019-02-23 19:48] utkonos commented on #49
@Neo23x0 @sbruno How does the following change look for your use cases:
https://github.com/plyara/plyara/tree/output_formats

I still need to write appropriate unit tests for this change, but this appears to satisfy the issue of changing the output structure of the meta section. It doesn't go back to the old format which was a bad design. It returns a dict so people can find data in the structure

[2019-02-23 19:48] utkonos commented on #49
I'll write a unit test shortly if the above is an acceptable interim solution.

[2019-02-23 19:50] utkonos commented on #52
@Neo23x0 Patch is almost ready. Please respond over in #49

[2019-02-23 20:16] sbruno commented on #49
I think it's ok if I understood it correctly. It is the optional dictionary you mentioned before, and will this feature be enabled by instantiating `Plyara(meta_as_kv=True)`, right?
I just added some comments in the commit bbc0cac

[2019-02-23 20:59] utkonos commented on #49
@sbruno Yes. Exactly. Thanks for the comments!

[2019-02-23 21:18] Neo23x0 commented on #49
Ah, I see. Nice.
I've already changed my code this afternoon and wrote myself getter and setter methods for the metadata fields that makes it easier to access these values.
Thanks for the ongoing improvements. Highly appreciated.

[2019-02-25 16:49] hxnoyd opened #53 "Rule imports pollution"
If Yara rule sets include module imports like "pe", these will be propagated to all rules in the set, regardless if used in the conditions.

Consider the following set:
[code]
After parsing, both rules will include the "pe" import, whereas it should be available only in the sample_2 rule.

Plyara version is 2.0.

Thanks in advance.

[2019-02-25 18:19] rshipp commented on #53
Hi, thanks for the issue!

This is expected behavior, noted in the bottom of the [migration](https://github.com/plyara/plyara#migration) section here. It seems YARA's behavior is to only treat rules after the import statement as having access to that import. We could probably change plyara to do that as well - I believe the only reason we haven't done that so far is no one has asked for it. I'm no

[2019-02-25 22:27] hxnoyd commented on #53
Hi,

My main use case for plyara is to extract yara rules from large rule sets (one file), usually collections of independent rules, without any scopes/variable definitions. Therefore, I expect that parsed rules do not include artifacts.

For the sake of simplicity, I would prefer plyara to treat rules individually.

Module names are already hardcoded in plyara (IMPORT_OPTIONS), hence imports coul

[2019-02-25 22:36] utkonos commented on #53
@hxnoyd I agree it would be better if rules didn't include artifacts. Keeping track of imports per rule based on position in the ruleset is ideal. If you have a proposed way to do this, can you submit a PR with the proposed code change?

[2019-02-26 16:19] rshipp commented on #53
OK, I talked with someone who knows more about YARA than me, and I have some clarifications here. I think the **condition-imports** behavior you're asking for is possible, I'm just not sure if we want to do that, since it's different from how YARA treats imports.

From what I understand, in your workflow, the **after-import** behavior YARA uses still won't give you the output you expect. For input

[2019-02-26 17:18] utkonos commented on #53
The way the code works now is to apply all found imports to each rule parsed in one file. I agree that this is sub-optimal. I'm working on a patch that will only apply imports to rules **after** the import is found. I will look into includes since this is also handled in the same way. I am not sure we need to treat includes in this way, but I will look.

Whether a rule **uses** an import is not re

[2019-02-26 18:39] hxnoyd commented on #53
@rshipp and @utkonos, while I understand the YARA engine comparison, I still don't see the reason why plyara needs to behave in the same way. In the end, rebuild_yara_rule() will rebuild individually and what once was a rule set with a single **import "pe"** (somewhere in the data set), will result in a rule set with multiple imports for the same module... why do we need the repetition?

IMHO, I t

[2019-02-26 18:52] utkonos commented on #53
@hxnoyd I have a potential solution, but it will change the output format drastically. Rather than including imports in the rule key,value pair, we can make an outer hierarchy of imports and then rules under the imports. The import would not show up in the rule JSON. You can happily ignore the ones that are not used in a rule, and the imports will appear in the correct position in the hierarchy as

[2019-02-26 20:30] hxnoyd commented on #53
@utkonos to be honest, changing to a nested rule format, at least in my case, would do more harm than good. Moreover, I would still need to come up with some logic to decide when to keep the imports, which is not much different from the term based approach. That said, please don't change the current rule format 🙏 .

I understand that this is a difficult topic to tackle, due to the flexibility of r

[2019-02-27 00:29] utkonos commented on #53
No changes yet. Just proposing an idea.

[2019-02-27 00:49] rshipp commented on #53
@hxnoyd If it helps at all, I could maybe improve [the YARA regex in this other library](https://github.com/InQuest/python-iocextract/blob/master/iocextract.py#L210) to catch imports/includes, and you could use that to separate out your rules before then passing them to plyara? Then you wouldn't have to postprocess anything.

[2019-02-27 09:10] hxnoyd commented on #53
@rshipp, that sounds like a good idea 👍

[2019-02-27 20:15] rshipp commented on #53
Alright, I'm waiting for an internal review but if you want to test this out in the meantime:

[code]

And you should be able to do something like this:

[code]

Let me know how it goes. The regex won't work in all cases, but hopefully its good enough to not choke on your input set.

[2019-03-01 22:43] rshipp commented on #53
I've pushed the `iocextract` changes to PyPI, hope it's helpful.

As for the rest of this issue, I'm inclined to agree with @utkonos that we should follow YARA's behavior and have imports attached to all rules after the import. My reasoning is, it's possible we could get better results for imports by looking at the conditions, but we could never do includes that way, and I think it's better to fol

[2019-03-02 13:22] hxnoyd commented on #53
@rshipp: the iocextract rule splitting worker on my rule sets. I'm going to test some more sets, and it all goes well I'll use it to workaround this behaviour.

Thanks for the follow up!

[2019-03-04 20:32] hegga opened #54 "Extra quotes added when rebuilding rule"
Hi,

When parsing a rule with a specified, but empty description field, like this:

[code]

plyara.Plyara.rebuild_yara_rule returns too many quotes, like this:

[code]

I'm running version 2.0.1

[2019-03-04 21:01] rshipp commented on #54
Thanks for the issue! Looks like a quick fix (#55) - I'll get a new version pushed out as soon as someone has had a chance to review it.

[2019-03-04 21:14] #54 closed

[2019-03-04 21:18] rshipp commented on #54
Alright, pushed new version 2.0.2 to PyPI to address this. Feel free to let us know if you find anything else!

[2019-05-19 22:23] DanielRuf opened #57 "Should be pip3 instead of pip"
https://github.com/plyara/plyara#installation

When only Python 3 is installed `pip` will be a softlink to `pip3` but in all other cases there are different Python versions used based on the `pip*` binary name.

[2019-05-19 22:43] #57 closed

[2019-05-19 22:43] rshipp commented on #57
Thanks for the issue! I've updated the install instructions to use `pip3`.

[2019-09-08 18:37] malwarefrank opened #61 "Reusing parser causes rules to show up that are not present"
I am using plyara to parse different rules and tracking statistics about them, but when I reuse the parser then the rules from the previous parse_string() call show up in the results of the subsequent unrelated parse_string() calls.

I can see this being useful in some cases, such as incrementally adding rules, but it is counter-intuitive to me that parse_string() is not stateless.  I suggest addi

[2019-09-08 20:01] rshipp commented on #61
Thanks for the issue and PR! This seems like a reasonable addition to me. Maintaining state across rules make plyara act more sensibly when dealing with files that have multiple rules, and your solution doesn't conflict with that.

I'll give some time for another maintainer to sign off or object, and otherwise I'll merge & ship this out in a few days.

[2019-09-08 20:06] utkonos commented on #61
It appears that the full set of accumulators is not reset by the `clear()` methods in the PR. Before shipping this, we need to make sure that this resets everything correctly. Can you provide test cases that show the problem? This change will need an appropriate set of unit tests.

Is there a use case where this proposal isn't handled by instantiation of a new parser for each ruleset?

[2019-09-08 20:08] utkonos commented on #61
Also, please lint the code with pydocstyle. This and the other linters we're using are not in the documentation, so I'm adding this to the README.

[2019-09-08 20:30] utkonos commented on #61
One more item is the test coverage we have on the utils. I think that gap needs closing so that we know a change like this doesn't break those utils.

[2019-09-10 01:17] malwarefrank commented on #61
Regarding your question, "Is there a use case where this proposal isn't handled by instantiation of a new parser for each ruleset?" I tried instantiating a new parser for each ruleset, but it took between 4 and 5 times as long to do so than when I tried just clearing the parser member variables.  That time difference adds up quickly for large-scale uses, such as realtime parsing of tens or hundred

[2019-09-10 02:43] utkonos commented on #61
Good call. It would be much more efficient. I will double the accumulators and other class variables to make sure everything is covered, and thanks for all the rest!

[2019-10-03 15:13] edeca opened #63 "Single line comment causes parsing exception"
A file containing only a single line comment, such as:

    // This rule file has been deleted

Causes the exception:

    plyara.exceptions.ParseTypeError: Unknown text / for token of type FORWARDSLASH on line 1

Although this is an edge case, the rule is parsed correctly by Yara itself (and the Python module).  It would be good to understand if this is a bug, or if I should continue to work arou

[2019-10-03 16:12] Taskr commented on #63
Will take a look later today. This should be able to be fixed by adding comment token to be part of ruleset parsing.

[2019-11-18 11:17] edeca opened #64 "New xor modifier causes parsing failure"
Version 3.11 of Yara brings a more flexible `xor` modifier ([see changelog](https://github.com/VirusTotal/yara/releases/tag/v3.11.0)).

This means that for versions above 3.11 the `xor` modifier can also be written like `xor(0x01-0xff)` to restrict the range.

A simple rule that fails to parse is:

    rule xor_test {
        strings:
            $ = "test test test" xor(0x01-0x02)
        conditi

[2019-11-19 15:49] utkonos commented on #64
Thanks for the report! We'll get an update for this and any other changes with recent YARA versions shortly.

[2019-12-02 10:47] tlansec opened #65 "Tag indicator specified but no tags causes exception"
Hello!

When parsing a rule like this plyara throws an exception on parsing the tags, and although odd this is a valid rule:

[code]

Cheers,
Tom

[2019-12-02 11:02] utkonos commented on #65
Thanks for the report. Will be fixing this.

[2019-12-10 12:07] tlansec commented on #65
Actually - looks like i was wrong - not sure how i managed to mess up my test, but yara does indeed complain about the rule above.

No longer as clearcut as to whether plyara should throw exception or not. It probably should.

[2019-12-10 18:31] utkonos commented on #65
This rule does not appear to be a valid YARA rule. Here is the output:

[code]

I don't think the keyword "false" is allowed as a condition on its own. I'm going to close this issue.

[2019-12-10 18:31] #65 closed

[2019-12-22 16:41] wesinator commented on #50
https://github.com/VirusTotal/gyp

[2019-12-22 19:52] wesinator opened #67 "Function declaration split up in condition parsing ?"
https://github.com/plyara/plyara/blob/eb6cbff2f0b603e6fa0d7d721bf425833ba772cf/tests/data/import_ruleset_math.yar

The `uint16(0)` is split up in the condition parsing:
[code]

should it be
[code]

since `uint16(0)` is a single atomic statement ?

[2019-12-26 20:03] wesinator opened #68 "Modifying/removing all linked condition terms using current form ?"
Hi,

I wanted to write a converter that will take rules that use a superset addition of YARA (such as [VT hunting syntax](https://support.virustotal.com/hc/en-us/articles/360001316037-Livehunt-rules)) and convert to a local-only rule that works in regular YARA.

To do this, I need to remove the conditions that don't work in regular YARA.
The way plyara currently parses and structures condition ter

[2020-01-01 22:44] utkonos opened #70 "Method could be a function"
### [Codacy](https://app.codacy.com/gh/plyara/plyara/commit?cid=429383767) detected an issue:
#### Message: `Method could be a function`

#### Currently on:
+ **Commit**:  d55e645756b4df2d6cfd9f80bfd5914ca8f075e5
+ **File**:    [tests/unit_tests.py](https://github.com/plyara/plyara/blob/d55e645756b4df2d6cfd9f80bfd5914ca8f075e5/tests/unit_tests.py)
+ **LineNum**: [442](https://github.com/plyara/ply

[2020-01-01 23:06] utkonos opened #71 "Method could be a function"
### [Codacy](https://app.codacy.com/gh/plyara/plyara/commit?cid=429383954) detected an issue:
#### Message: `Method could be a function`

#### Currently on:
+ **Commit**:  293a309613b63c4a3b3bea9208bb267b8f8cd18e
+ **File**:    [plyara/core.py](https://github.com/plyara/plyara/blob/293a309613b63c4a3b3bea9208bb267b8f8cd18e/plyara/core.py)
+ **LineNum**: [464](https://github.com/plyara/plyara/blob/2

[2020-01-01 23:07] utkonos commented on #71
This is one example of a class of change needed.

[2020-01-01 23:21] utkonos opened #72 "Method could be a function"
### [Codacy](https://app.codacy.com/gh/plyara/plyara/commit?cid=429384145) detected an issue:
#### Message: `Method could be a function`

#### Occurred on:
+ **Commit**:  b5637984911da68802501898cfd16539de70cb0f
+ **File**:    [tests/unit_tests.py](https://github.com/plyara/plyara/blob/b5637984911da68802501898cfd16539de70cb0f/tests/unit_tests.py)
+ **LineNum**: [14](https://github.com/plyara/plyar

[2020-01-01 23:38] utkonos opened #73 "Add complete coverage for is_valid_rule_name"

[2020-01-01 23:39] #73 closed

[2020-01-01 23:40] utkonos opened #74 "Add complete coverare for is_valid_rule_name"
https://github.com/plyara/plyara/blob/1812718747cbc148512c477f9caf63dd8cab6fe1/plyara/utils.py#L30

[2020-01-01 23:43] utkonos opened #75 "Add coverage for is_valid_rule_tag"
https://github.com/plyara/plyara/blob/1812718747cbc148512c477f9caf63dd8cab6fe1/plyara/utils.py#L62

[2020-01-02 00:13] utkonos opened #76 "Remove unused code from detected_imports"
https://github.com/plyara/plyara/blob/1812718747cbc148512c477f9caf63dd8cab6fe1/plyara/utils.py#L75

[2020-01-02 00:27] utkonos opened #77 "Incomplete coverage for loops and external variables"
https://github.com/plyara/plyara/blob/1812718747cbc148512c477f9caf63dd8cab6fe1/plyara/utils.py#L102

[2020-01-02 00:36] utkonos opened #78 "Use of assert detected. The enclosed code will be removed when compiling to optimised byte code."
### [Codacy](https://app.codacy.com/gh/plyara/plyara/commit?cid=429386625) detected an issue:
#### Message: `Use of assert detected. The enclosed code will be removed when compiling to optimised byte code.`

#### Currently on:
+ **Commit**:  89180319d076f87d2a285d9909346420fabe51b9
+ **File**:    [tests/unit_tests.py](https://github.com/plyara/plyara/blob/89180319d076f87d2a285d9909346420fabe51b9/t

[2020-01-02 01:46] utkonos opened #79 "Rules Throw Unhandled String Count Condition Error"
The following rules throw Unhandled String Count Condition when running `utils.generate_logic_hash()`

[code]

[code]

[code]

[code]

[2020-01-02 02:05] utkonos opened #80 "Rewrite Rule Rebuilding Function"
This function does not work on many rules and rulesets. This capability needs to be reworked or removed. It's currently deprecated, but can avoid removal if it can be fixed.

[2020-01-02 03:40] utkonos opened #82 "Consider possible security implications associated with subprocess module."
### [Codacy](https://app.codacy.com/gh/plyara/plyara/commit?cid=429390272) detected an issue:
#### Message: `Consider possible security implications associated with subprocess module.`

#### Currently on:
+ **Commit**:  8c8341e639cab95dad223c2cd8e8a44edce1543a
+ **File**:    [tests/unit_tests.py](https://github.com/plyara/plyara/blob/8c8341e639cab95dad223c2cd8e8a44edce1543a/tests/unit_tests.py)
+

[2020-01-02 04:33] utkonos commented on #64
I'm not sure of an easy change to support this new format for xor string operator. This change requires rewriting how string operators are parsed.

[2020-01-02 04:35] utkonos commented on #61
Test coverage is good to go (except for rule rebuilding, but that's deprecated unless it can be improved).

This PR for this issue can be merged with the unittesting PR I just opened.

[2020-01-02 04:37] #61 closed

[2020-01-02 05:28] utkonos commented on #50
It's great they finally released that. Will need to take a look at its output and see if we can output the same thing.

[2020-01-02 05:29] utkonos commented on #50
From the new repo, it looks like it's based on the Northern Lights Golang repo.

[2020-01-02 05:34] utkonos commented on #67
Good idea. I'll need to think through how to do this best.

[2020-01-02 05:35] utkonos commented on #15
Looks like there's finally a release of SLY. I'll be looking at how to start the migration.

[2020-01-02 05:56] utkonos opened #83 "Improve example code"
### [Codacy](https://app.codacy.com/gh/plyara/plyara/commit?cid=429412277) detected an issue:
#### Message: `If 10 is too complex (27)`

#### Currently on:
+ **Commit**:  4cf543ce3fb7ee471a38a42f16738e6a286b3a01
+ **File**:    [examples/corpus_stats.py](https://github.com/plyara/plyara/blob/4cf543ce3fb7ee471a38a42f16738e6a286b3a01/examples/corpus_stats.py)
+ **LineNum**: [10](https://github.com/pl

[2020-01-04 00:36] utkonos opened #85 "Add New PLY as Vendor Directory"
PLY is no longer distributed as a package. There are a few options:

1. Add a vendor directory with the contents of PLY master and build it along with plyara.
2. Build and host a pypi installable PLY based on PLY master.
3. Do nothing and update to SLY.

https://github.com/dabeaz/ply/commits/master

[2020-01-04 01:43] utkonos commented on #68
This would be powerful. Do you have an idea of how to implement?

[2020-01-04 21:31] rshipp commented on #85
Looks like it's still there, are they just not pushing new versions? Either way, I'm fine with switching to SLY; it's 2020, py2 is officially dead.

[2020-01-04 21:38] utkonos commented on #85
Sounds like a plan. I'm going to close this one. We have a SLY update issue already. I'll take some time soon and do the lift to SLY.

[2020-01-04 21:38] #85 closed

[2020-01-04 22:25] #70 closed

[2020-01-04 22:25] #71 closed

[2020-01-04 22:25] #72 closed

[2020-01-04 22:25] #74 closed

[2020-01-04 22:25] #75 closed

[2020-01-04 22:25] #76 closed

[2020-01-04 22:25] #77 closed

[2020-01-04 22:25] #78 closed

[2020-01-04 22:25] #82 closed

[2020-01-04 22:25] #83 closed

[2020-01-05 03:50] utkonos commented on #63
I am unable to reproduce this bug. However, I have added a unit test for the type of file that is just a single line and a comment. If this bug returns it will be noticed by CI.

Thanks for the report.

[2020-01-05 03:50] #63 closed

[2020-01-05 04:00] utkonos commented on #80
New plan: write a new function that works on all rule cases.

[2020-01-05 04:04] utkonos opened #87 "Codacy: Parser._add_element is too complex (19)"
https://app.codacy.com/manual/plyara/plyara/file/40987119013/issues/source?bid=7404125&fileBranchId=7404125#l157

[2020-01-05 04:05] utkonos commented on #80
This fix will also close Codacy issue: https://app.codacy.com/manual/plyara/plyara/file/40987119010/issues/source?bid=7404125&fileBranchId=7404125#l249

[2020-01-05 04:17] utkonos opened #88 "Windows Newlines Need Improved Unit Test"
The unit test appears to have a flaw and test coverage for windows newlines needs to be improved.

[2020-01-05 04:42] utkonos commented on #88
The corrected unit test reveals a new bug in the handling of newlines. I propose a fix that just finds and replaces all windows CR-NL characters with newline characters before processing and then removing all code for windows handling. The new rule rebuilding code is the only output that would need to adjust for this, and I propose just having a parameter for that function that outputs defaulting

[2020-01-05 04:46] utkonos commented on #88
[code]

[2020-02-24 20:07] cezhunter opened #89 ".clear() does not work to reset start_line and stop_line fields"
Great work @utkonos on maintaining this repo! Just wanted to point out one minor issue I ran into with the `clear()` feature. Seems like the lexer keeps accumulating `lineno` so we may need to reinitiate the lexer as when calling `clear()`.

[2020-02-25 07:45] utkonos commented on #89
Thanks for the bug report! I'll get this fixed up shortly.

[2020-03-25 02:52] malwarefrank commented on #64
I am not an expert in lexers and parsers, so this may be wrong, but give this a try: https://github.com/malwarefrank/plyara/commit/42a9ead34168b4253a78f070bfc4d7874ec994d6

If that works, then I can create a test and submit a PR

[2020-04-03 12:53] malvidin commented on #64
All of the following are all legitimate XOR modifiers. The first is already handled, and the next one appears to be handled by @malwarefrank's modification.
[code]
This requires all of the following, unless the xor_mod is created as a new token.  I didn't see a way to create a single byte hex/int token that didn't cause extraction issues with the NUM and HEXNUM tokens.
[code]

I recommend adding a

[2020-04-07 17:14] malvidin commented on #64
I've made additional modifications here https://github.com/malvidin/plyara/commit/35b9b5da2e93e087e3b282e23c3379b302fcdb72
, but there are still enhancements that could be made.

@malwarefrank, does my current commit meet your current needs?

- Recommend imports being made before use
- Ensure all named and anonymous strings are referenced
- Parse conditions in a way that ensures logical validity
-

[2020-04-16 13:13] tlansec commented on #64
Hi,

I'd just like to add a ++ for considerations on _rebuild_yara_rule_ i think most plyara users will want to rebuild a rule from the parsed rule (otherwise why not just check it compiles with yara itself?).

Thanks,
Tom

[2020-04-22 10:19] #89 closed

[2020-04-22 17:16] malvidin commented on #49
In yara-python, there is a enhancement to modify the get_meta method to get all, not just the last value.
https://github.com/VirusTotal/yara-python/pull/74

[2020-05-12 21:53] malvidin commented on #15
I've written a new core.py and objects.py that uses SLY.
There are still things to do, but it parses rulesets effectively using the lexing, parsing, and objects based on the official YARA project.
The basic parsing and function names are different enough that calling it plyara isn't accurate.
Would it be more appropriate to create a new slyara project?

[2020-05-12 22:28] rshipp commented on #15
Sounds like this is the logical successor. I have no objection to renaming this org/project, so all the old links still work. @utkonos you have owner-permissions here already, and I think you're in the best position to decide this. Let me know if you need anything from me, to update CI/docs or anything.

[2020-05-13 01:24] utkonos commented on #15
I have thought about renaming in conjunction with this, but I would like to think long and hard about it.

@malvidin Do you have these changes in a repo somewhere?

The goal I have with this update is to have the current unit tests pass with the new undercarriage. Also, I am going to be attending a training with dabeaz (PLY/SLY author) in about a week and a month. I want to get some insights about

[2020-05-18 15:25] malvidin commented on #15
Yes, I just pushed it here, https://github.com/malvidin/plyara/tree/slyara.

There is still things that are not finished.
- tracking imports and externals in the condition
-- test_conditions can't find filename
-- test_detect_dependencies
-- test_detect_imports
- condition_terms is not used
- no JSON export of the rule (test_strings)
- comments are not retained
- raw sections are not retained
- co

[2020-05-18 15:35] utkonos commented on #15
Great! Thanks! I should have some time coming up to wrangle everything together.

[2020-05-28 10:44] tlansec opened #94 "plyara does not recognise base64 keyword"
Hello,

In YARA >= 4.0 new modifiers were introduced to support matching base64 encoded strings.

Here are some example rules that YARA will accept which currently causes errors when using Plyara:

[code]

Example code to illustrate current error shown:

[code]

Throws:

[code]

Cheers,
Tom

[2020-05-28 10:45] tlansec commented on #94
Ah - it looks like this will be resolved by this PR:

https://github.com/plyara/plyara/pull/92

Please link and close if appropriate.

Cheers,
Tom

[2020-05-28 11:47] utkonos commented on #94
@tlansec No need to close. I will link this issue and it will be closed when I merge that PR. I have set aside time this weekend to get caught up with the PRs, issues, and the update to SLY. Please stay tuned!

[2020-06-13 18:28] #64 closed

[2020-06-13 18:28] #94 closed

[2020-06-13 20:47] #80 closed

[2020-06-15 00:49] utkonos commented on #15
@malvidin I would prefer not changing the name of the whole project just because the change in the upstream library. It would cause unnecessary confusion and require people to change their code. Can you make a PR with the SLY code to the SLY branch on plyara? We can get the last parts of the functionality finished up.

Also, with the changes made recently, the code coverage has gone down. One of m

[2020-06-15 02:12] #88 closed

[2020-06-15 23:49] wesinator opened #98 "Follow include index files to load all YARA rulesets ?"
It's common for yara ruleset collections to have 'index' rule files so one file can be referenced to load all the rulesets (especially useful when compiling programmatically like from yara-python), e.g. https://github.com/Yara-Rules/rules/blob/a1005b743c44e144e3f04cf152d0a8998d9a9811/malware_index.yar

Would it make sense for plyara to handle this by checking if a ruleset _only_ has includes, and

[2020-06-16 19:24] wesinator opened #99 "parse_string() rules construction causes duplicate results when loading multiple rulesets with one Plyara instance"
**to reproduce:**
Two yara rulesets with one rule each:

_test1.yara_
[code]

_test2.yara_
[code]

code:
[code]
(`get_yara_rulesets` is also workaround to #98)

**Expected:** Two rules in final list

**Actual:** Three rules in list; the second parse counts the rule from the first file . The file parsed first is counted twice
[code]

https://github.com/plyara/plyara/blob/ef652daac269552195bdf383639

[2020-06-16 19:30] wesinator commented on #99
Moving `parser = plyara.Plyara()` under the for .. with clause also fixes this issue

Ultimately, I think it makes the most sense to move `parse_string` to a standalone function that uses the Plyara parsing object, but is not a class method

[2020-06-16 19:38] wesinator commented on #49
There is still some inconsistency with how Plyara models string dicts vs. meta dicts.
https://github.com/plyara/plyara#usage

In strings, the key is the "type" like JSON

With meta currently, the key is the actual value of the meta name

I think for consistency it might be better to have meta like this:
[code]

but changing this would also break existing code obviously

[2020-07-16 19:32] utkonos commented on #15
I have started the steps to build the new 3.0.0 version of plyara based on the SLY library. This is a from the ground up rewrite using a better paradigm of organization of the code. Each step is now separated by functionality. The first part I'm working on is the core data model. The next step will be the tokenizer based on SLY. After that, the export functionality. Three goals with the export fun

[2020-07-16 20:13] utkonos commented on #99
@wesinator Working on this now. I've condensed the testing code to the following:

[code]

There are now two files in the data directory under tests for this issue.

I can confirm that this is a bug from the output. It looks about the same as what you posted:

[code]

[2020-07-16 20:25] utkonos commented on #99
@wesinator This is actually now by design. There is a new .clear() method that needs to be used if the parser is to be reused in the way here in the example code. The way to use this method is as follows:

[code]

The output from this looks correct now:
[code]

The `clear()` method should not be automatically called on each `parse_string()` calls because the purpose of the `clear()` method is to a

[2020-07-17 02:42] utkonos commented on #15
Minor correction: I am working on the output of valid YARA rules along with the model. This functionality in the 2.x version of plyara can use the most improvement. Therefore I'm solving this problem first.

A good part of the model and output is implemented and correct. Each class and output has a prototype unit test as well.

Comments are more than welcome:
https://github.com/plyara/plyara/tree/

[2020-07-17 02:45] utkonos commented on #15
One decision that I've made is to use YARA documentation as the style guide for the output formatting.

[2020-07-17 02:52] utkonos commented on #98
This is doable. I am including this as a feature for the 3.0.0 release that I'm working on currently. I think the best way to implement this is actually to have a utility. I'm building the new version nearly from scratch. The idea is to follow closely the best practices for building a compiler. Therefore, there will be a data model object at the end of a parsing session.

To implement this enhance

[2020-07-17 02:53] utkonos commented on #98
This may fit best as a flag on the CLI which then uses said utility.

[2020-07-17 02:55] utkonos commented on #87
I'm working on 3.0.0 and closing all issues that are not bugs that will simply go away with the 3.0.0 release.

[2020-07-17 02:55] #87 closed

[2020-07-17 03:03] utkonos commented on #42
I am including this in the features for 3.0.0. The rebuilt rules that are the output from the data model as of now use the YARA documentation as the style guide. Retaining the comments in the data model and in the JSON output is trivial. However, emitting the comments in the rebuilt YARA rules will be difficult for one reason. Because the rebuilt rules will be ideal rules according to the style gu

[2020-07-17 03:13] utkonos commented on #67
Full granular condition parsing is a feature of 3.0.0. Take a look at the data model and the `singledispatch` `to_yara()` function. It already implements a few conditions granularly. The JSON output will have a nested recursive structure and will satisfy this enhancement request.

The new version is being built here:
https://github.com/plyara/plyara/tree/prep-3.0

Comments and feedback are welcome

[2020-07-17 03:15] utkonos commented on #68
This will be part of 3.0.0. The new `vt` module that replaces the legacy VT-only conditions will be supported as well as granular parsing of the old legacy conditions.

[2020-07-17 03:19] utkonos commented on #50
This will be a feature of 3.0.0. The schema of the new JSON format is not finalized (here at least). I want it to be informed by the output from both [gyp](https://github.com/VirusTotal/gyp) and [yara-python](https://github.com/VirusTotal/yara-python).

[2020-07-17 03:20] utkonos commented on #79
This will dissapear with the 3.0.0 release.

[2020-07-17 03:20] #79 closed

[2020-07-17 03:35] utkonos commented on #49
@wesinator I'm closing this one since the PR that has already been merged solves the immediate issue. The JSON schema for 3.0.0 is not finalized, so changes like you're asking about should be tracked is this issue: https://github.com/plyara/plyara/issues/50

[2020-07-17 03:35] #49 closed

[2020-07-17 03:36] #52 closed

[2020-07-17 03:50] utkonos opened #105 "Add Logic Hash Versioning"
The following PR updates the logic hashing utility: https://github.com/plyara/plyara/pull/93

So that this change doesn't create hashes that can be mixed up with hashes generated by the original function, I will add a versioning prefix to the hashes generated by the new function. This will also facilitate any changes that will occur with the build and release of 3.0.0.

[2020-07-20 01:07] wesinator commented on #98
sweet. I was thinking exactly the same thing following a compiler logic for parsing and resolution.

[2020-07-20 22:18] #99 closed

[2020-07-27 16:57] rakovskij-stanislav opened #107 "Condition parsing fault"
Latest Plyara version from pip3 (2.1.0)

Rule:
[code]

Code:
[code]

Output:
[code]

Expected output:
[code]

[2020-07-27 20:20] utkonos commented on #107
Thanks @rakovskij-stanislav!

Fix will be part of 2.1.1

[2020-07-27 20:21] utkonos commented on #107
If you need an immediate fix, please use the diff from https://github.com/plyara/plyara/pull/108

[2020-07-27 20:22] #107 closed

[2020-08-22 18:45] rakovskij-stanislav opened #109 "Rule rebuild on plyara.utils.rebuild_yara_rule using external variable as a part of loop condition - bug"
Here is the case.

File `test.txt`:
[code]

rule:
[code]

Sanity check using yara engine:
[code]

Test case using plyara 2.1.1:
[code]

Output:
[code]

Expected condition: `for count_of_test i in (1..#a) : (@a[i]<100)`

I think the error is here - https://github.com/plyara/plyara/blob/master/plyara/utils.py#L470

To solve this problem you should check is this condition a part of `for ... ... in` b

[2020-08-24 13:01] utkonos commented on #109
@rakovskij-stanislav Thanks for the report. I'll get this fixed.

[2020-12-21 17:11] jamie-34254 commented on #42
It appears this is now implemented so I guess this should be closed as to not confuse new people?

[2020-12-21 17:39] utkonos opened #111 "Improved Comment Handling"
The rebuild rules utility needs an improved handling of comments in 3.0.

[2020-12-21 17:40] utkonos commented on #42
I've opened a separate issue for the change in 3.0

[2020-12-21 17:40] #42 closed

[2021-02-03 16:25] rakovskij-stanislav opened #112 "Mistake with terms parsing in condition."
Ruleset:
[code]

Test file
[code]

Test:
[code]

There is no problem with pluses:
Ruleset:
[code]
Test
[code]

[2021-02-04 14:37] utkonos commented on #112
Thanks for the report. I'll get this fixed.

[2021-02-19 23:45] 2d4d opened #113 "Bug in plyara.utils.detect_dependencies() with rule reference in last condition"
Looks like a classical off-by-one: If a reference to another rule is in the last condition, plyara.utils.detect_dependencies() is empty instead giving the referenced rule. Just switching the last 2 lines of the conditions makes it work.

[code]

Output:
[code]

[2021-02-20 18:06] 2d4d commented on #113
the missing 'not' is the problem in plyara/utils.py
[code]

[2021-02-20 18:19] 2d4d commented on #113
that's a nasty one, maybe include a test case

[2021-03-09 11:45] rakovskij-stanislav opened #115 "Yet another problem with minuses/dashes parsing in condition terms"
[code]

[code]

[2021-03-09 11:53] rakovskij-stanislav commented on #115
And totally "wow" case with extra empty line!

[code]

[code]

[2021-03-29 10:29] tlansec opened #116 "Unexpected result when parsing imports"
Hello,

I was recently troubleshooting why some rules were being prepended with imports and found that when plyara.parse_string() takes a string input of rules it assigns the imports to all rules in the file.

Here's some example code to illustrate:

[code]

Example code:

[code]

The result is that plyara shows both rules as requiring both imports when infact there are two rules each of which req

[2021-03-29 12:20] utkonos commented on #115
Thanks for the report. Will get this fixed.

[2021-03-29 12:21] utkonos commented on #113
Thanks for the report. Could you add that test case to the PR? Also, can you enable editing on the PR as well?

[2021-03-29 12:28] utkonos commented on #116
@tlansec Thanks for the report. We have had a lengthy discussion about this topic in #53

I am amenable to an additional non-default option that removes imports from rules that don't use it, but the behavior you're reporting is expected and by design.

[2021-03-29 15:46] tlansec commented on #116
It might be the design, but I expect I will not be the last user who is surprised by this behaviour - a common use case for plyara might be:

[code]

Thus ending up with a large # of unnecessary imports. I appreciate that there isn't an elegant solution to this.

If any future readers come across this thread and the library is still working as described in this issue and #53, I found the best solu

[2021-03-29 21:16] 2d4d commented on #113
editing is already enabled:

![image](https://user-images.githubusercontent.com/46819580/112901109-a0d21d80-90e4-11eb-844d-86dbef7bcad5.png)

sorry, don't have much time at the moment

[2021-04-24 20:48] #113 closed

[2021-05-18 23:37] jgrunzweig opened #117 "Support for new operators introduced in 4.1.0"
With the release of 4.1.0, a number of new operators were introduced (https://github.com/VirusTotal/yara/releases/tag/v4.1.0). At present, these operators do not appear to be supported in plyara:

[code]

[code]

I humbly request support for the icontains, endswith, iendswith, startswith, and istartswith operators that were introduced in 4.1.0.

My understanding is that it would simply required ad

[2021-05-20 23:00] utkonos commented on #117
@jgrunzweig I'll get this done as soon as possible. If you have a PR for this, I can take a look. There are a couple more places than that one location where these operators will need to be implemented, and then a test case added. But it doesn't look too complicated.

[2021-06-29 08:22] dadokkio opened #118 "clear problem with lot of rules"
Trying to parse a huge number of rules I have some issues with parser that seems to not cleared properly.

The code not working:

[code]

Results:
[code]

Moving the parser definition in the loop seems to resolve the problem with strange errors, but it takes way more than previous test [more than 16 minutes instead of less than 3 seconds]

[code]

It seems that clear is not working properly, and o

[2021-07-26 13:53] clementbriensorph commented on #118
@dadokkio I ran into this issue too when running this over a large number of rules. Move `parser = plyara.Plyara` inside of your loop.

Documentation mentions the use of `parser.clear()` when handling a large number of YARA rules. This does not seem to be working for this issue.

[2021-07-26 14:28] utkonos opened #119 "Looking for New Maintainer"
I no longer have the resources to devote to maintaining plyara. If there is another maintainer or maintainers who would like to step forward and continue maintaining this project, please reply here.

[2021-11-01 07:58] larsborn commented on #119
Hey,
I contributed to this project a few years ago: https://github.com/larsborn/plyara/commit/d0593170461cd9276fbe2b4253c64c2c7c005912

I am using it quite regularly and would hence have the motivation and would need to carve out the time to carry on. How would we go about this? How limited is your time? Would you, for example, have the time to accept contributions or is even that out of scope rig